<div class="row mx-auto text-center fixed-bottom mb-4 bg-white-50 border p-1 shadow">
    <div class="col-md-12">
        <a href="https://github.com/firatkaya1">
            <img src="/assets/github.svg" class="mr-2 ml-2" width="35px" height="35px" alt="github">
        </a>
        <a href="https://blog.kayafirat.com">
            <img src="/assets/F.svg" class="mr-2 ml-2" width="35px" height="35px" alt="blog">
        </a>
        <a href="https://linkedin.com/in/firatkaya1">
            <img src="/assets/linkedin.png" class="mr-2 ml-2 " width="35px" height="35px" alt="linkedin">
        </a>
        <a href="https://twitter.com/1firatkaya">
            <img src="/assets/twitter.svg" class="mr-2 ml-2" width="35px" height="35px" alt="twitter">
        </a>
    </div>
</div>