<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 mx-auto p-0">
            <div class="card bg-light shadow">
              <div class="pt-4 pl-4 pr-4 d-block">
                <b class=" lead font-weight-bold text-kaya text-left">/download</b>
                <b class="float-right">
                  <a class="c-pointer" (click)="changeLanguage('tr')" [ngClass]="this.translate.getDefaultLang()==='tr' ? 'text-kaya':'' ">
                    <img src="/assets/turkey.svg" width="25px" height="35px" alt="turkish-flag">
                    <span  [translate]="'language.tr'"></span>
                  </a> | 
                  <a class="c-pointer text-black" [ngClass]="this.translate.getDefaultLang()==='en' ? 'text-kaya':'' " (click)="changeLanguage('en')">
                    <img src="/assets/uk.svg" width="25px" height="35px" alt="uk-flag">
                    <span  [translate]="'language.en'"  ></span>
                  </a>
                </b>
              </div>              
              <img src="/assets/F.svg" width="70px" height="70px" class="card-img-top" alt="logo-icon">
                <div class="card-body">
                  <div class="row">
                      <div class="col-md-4">
                        <b [translate]="'download.fileName'"></b>
                      </div>
                      <div class="col-md-6">
                        Java_Kod_Dersleri_2011.pdf
                      </div>
                      <div class="w-100 mt-4"></div>
                      <div class="col-md-4">
                        <b [translate]="'download.fileSize'"></b>
                      </div>
                      <div class="col-md-6">
                        22 MB
                      </div>
                      <div class="w-100 mt-4"></div>
                      <div class="col-md-4">
                        <b [translate]="'download.fileUploadDate'"></b>
                      </div>
                      <div class="col-md-6">
                         2019/21/10 23:14:20
                      </div>
                      <div class="w-100 mt-4"></div>
                      <div class="col-md-4">
                        <b [translate]="'download.maxDownload'"></b>
                      </div>
                      <div class="col-md-6">
                         63 <span [translate]="'download.maxPeople'"></span>
                      </div>
                      <div class="w-100 mt-4"></div>
                      <div class="col-md-4">
                        <b [translate]="'download.uploadedBy'"></b>
                      </div>
                      <div class="col-md-6">
                         <a href="https://github.com/firatkaya1">@firatkaya1</a>
                      </div>
                      <div class="w-100 mt-4"></div>
                      <div class="row" *ngIf="!isSecure">
                        <div class="col-md-6 mx-auto text-center mt-2" >
                          <form [formGroup]="downloadDetail" >
                            <re-captcha #captchaRef="reCaptcha"
                            formControlName="recaptchaReactive" 
                            siteKey="6LfC_bIZAAAAAAoOKHCIaj0d3O3wKINKJXH6ilGC"></re-captcha>
                            <small id="emailHelp" class="form-text text-muted" [translate]="'contact.noBot'"></small>
                          </form>
                        </div>
                        <div class="col-md-12 text-center mb-4">
                            <button class="btn btn-primary" (click)="downloadFile('1');captchaRef.reset();" [disabled]="downloadDetail.invalid" >İndir</button>
                            <a routerLink="/contact" routerLinkActive="active" class="btn btn-danger ml-2">Bir sorun mu var?</a>
                        </div>
                      </div>
                      <div class="col-md-12 text-center mb-4" *ngIf="isSecure">
                          <button class="btn btn-primary" (click)="downloadSecureFile('3','1')" data-toggle="modal" data-target="#openPass">İndir</button>
                          <a routerLink="/contact" routerLinkActive="active" class="btn btn-danger ml-2" >Bir sorun mu var?</a>
                      </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>


<!-- Password Modal -->
<div class="modal fade" id="openPass" data-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <img src="/assets/padlock.svg"  alt="download-icon" width="50px" height="50px">
          <b>Güvenli İndirme</b>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="captchaRef.reset()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-success" *ngIf="isSuccess=='ok'" [translate]="'download.isSuccess'"></p>
        <p class="text-danger" *ngIf="isSuccess=='hata'" [translate]="'download.isNotSuccess'"></p>
        <div class="form-group">
          <label for="emailAddress"><b>İndirmeye çalıştığınız dosya şifrelenmiştir. Lütfen şifreyi giriniz</b></label>
          <input type="password" class="form-control" id="emailAddress" aria-describedby="emailHelp">
        </div>    
        <form [formGroup]="downloadDetail" >
          <re-captcha #captchaRef="reCaptcha"
          formControlName="recaptchaReactive" 
          siteKey="6LfC_bIZAAAAAAoOKHCIaj0d3O3wKINKJXH6ilGC"></re-captcha>
          <small id="emailHelp" class="form-text text-muted" [translate]="'contact.noBot'"></small>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="captchaRef.reset()">Çıkış</button>
        <button type="button" class="btn btn-success" (click)="downloadSecureFile('1','s');captchaRef.reset()" [disabled]="downloadDetail.invalid">Gönder</button>
      </div>
    </div>
  </div>
</div>